<div class="row">
  <div class="col-xs-12">
    <ul class="plain">
      <li>{{fa-icon icon='adjust' fixedWidth=true}} <span class="name">adjust</span></li>
      <li>{{fa-icon icon='adn' fixedWidth=true}} <span class="name">adn</span></li>
      <li>{{fa-icon icon='align-center' fixedWidth=true}} <span class="name">align-center</span></li>
      <li>{{fa-icon icon='align-justify' fixedWidth=true}} <span class="name">align-justify</span></li>
      <li>{{fa-icon icon='align-left' fixedWidth=true}} <span class="name">align-left</span></li>
      <li>{{fa-icon icon='align-right' fixedWidth=true}} <span class="name">align-right</span></li>
      <li>{{fa-icon icon='ambulance' fixedWidth=true}} <span class="name">ambulance</span></li>
      <li>{{fa-icon icon='anchor' fixedWidth=true}} <span class="name">anchor</span></li>
      <li>{{fa-icon icon='android' fixedWidth=true}} <span class="name">android</span></li>
      <li>{{fa-icon icon='angellist' fixedWidth=true}} <span class="name">angellist</span></li>
      <li>{{fa-icon icon='angle-double-down' fixedWidth=true}} <span class="name">angle-double-down</span></li>
      <li>{{fa-icon icon='angle-double-left' fixedWidth=true}} <span class="name">angle-double-left</span></li>
      <li>{{fa-icon icon='angle-double-right' fixedWidth=true}} <span class="name">angle-double-right</span></li>
      <li>{{fa-icon icon='angle-double-up' fixedWidth=true}} <span class="name">angle-double-up</span></li>
      <li>{{fa-icon icon='angle-down' fixedWidth=true}} <span class="name">angle-down</span></li>
      <li>{{fa-icon icon='angle-left' fixedWidth=true}} <span class="name">angle-left</span></li>
      <li>{{fa-icon icon='angle-right' fixedWidth=true}} <span class="name">angle-right</span></li>
      <li>{{fa-icon icon='angle-up' fixedWidth=true}} <span class="name">angle-up</span></li>
      <li>{{fa-icon icon='apple' fixedWidth=true}} <span class="name">apple</span></li>
      <li>{{fa-icon icon='archive' fixedWidth=true}} <span class="name">archive</span></li>
      <li>{{fa-icon icon='area-chart' fixedWidth=true}} <span class="name">area-chart</span></li>
      <li>{{fa-icon icon='arrow-circle-down' fixedWidth=true}} <span class="name">arrow-circle-down</span></li>
      <li>{{fa-icon icon='arrow-circle-left' fixedWidth=true}} <span class="name">arrow-circle-left</span></li>
      <li>{{fa-icon icon='arrow-circle-o-down' fixedWidth=true}} <span class="name">arrow-circle-o-down</span></li>
      <li>{{fa-icon icon='arrow-circle-o-left' fixedWidth=true}} <span class="name">arrow-circle-o-left</span></li>
      <li>{{fa-icon icon='arrow-circle-o-right' fixedWidth=true}} <span class="name">arrow-circle-o-right</span></li>
      <li>{{fa-icon icon='arrow-circle-o-up' fixedWidth=true}} <span class="name">arrow-circle-o-up</span></li>
      <li>{{fa-icon icon='arrow-circle-right' fixedWidth=true}} <span class="name">arrow-circle-right</span></li>
      <li>{{fa-icon icon='arrow-circle-up' fixedWidth=true}} <span class="name">arrow-circle-up</span></li>
      <li>{{fa-icon icon='arrow-down' fixedWidth=true}} <span class="name">arrow-down</span></li>
      <li>{{fa-icon icon='arrow-left' fixedWidth=true}} <span class="name">arrow-left</span></li>
      <li>{{fa-icon icon='arrow-right' fixedWidth=true}} <span class="name">arrow-right</span></li>
      <li>{{fa-icon icon='arrow-up' fixedWidth=true}} <span class="name">arrow-up</span></li>
      <li>{{fa-icon icon='arrows' fixedWidth=true}} <span class="name">arrows</span></li>
      <li>{{fa-icon icon='arrows-alt' fixedWidth=true}} <span class="name">arrows-alt</span></li>
      <li>{{fa-icon icon='arrows-h' fixedWidth=true}} <span class="name">arrows-h</span></li>
      <li>{{fa-icon icon='arrows-v' fixedWidth=true}} <span class="name">arrows-v</span></li>
      <li>{{fa-icon icon='asterisk' fixedWidth=true}} <span class="name">asterisk</span></li>
    </ul>
  </div>
</div>